# Exploratory Data Analysis (EDA)

This notebook provides a brief exploratory overview of the customer dataset used in the project.

**Dataset summary:**
- Number of customers: 200
- Features used for segmentation:
  - Age
  - Annual Income (k$)
  - Spending Score (1â€“100)

The dataset contains no missing values and all variables are numerical, making it suitable for distance-based clustering methods.

Given the relatively small sample size, the purpose of this project is **methodological and decision-oriented**, focusing on interpretability and segmentation logic rather than large-scale predictive performance.

Detailed segmentation, model-based interpretation, and experimental design are presented in subsequent notebooks.

In [3]:
import pandas as pd
df = pd.read_csv("Mall_Customers.csv")
df.describe()

       CustomerID         Age  Annual Income (k$)  Spending Score (1-100)
count  200.000000  200.000000          200.000000              200.000000
mean   100.500000   38.850000           60.560000               50.200000
std     57.879185   13.969007           26.264721               25.823522
min      1.000000   18.000000           15.000000                1.000000
25%     50.750000   28.750000           41.500000               34.750000
50%    100.500000   36.000000           61.500000               50.000000
75%    150.250000   49.000000           78.000000               73.000000
max    200.000000   70.000000          137.000000               99.000000